.additem-form {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
textarea {
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(188, 220, 233);
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

form input:hover,
textarea:hover {
    transform: translate(5px, 4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

textarea {
    height: 100px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #45a049;
}

button {
    padding: 10px;
    position: relative;
    top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="file"] {
    background-color: #e0f7fa;
    padding: 10px;
}
